.card__form {
  padding: 64px;
  .form_space {
    margin-bottom: 40px;
  }
  &__content {
    max-width: 320px;
    margin: 0 auto;
    text-align: left;
    label {
      font-weight: 600;
    }
    span {
      margin-left: 8px;
      padding: 2px 4px;
      border-radius: 2px;
      color: #fff;
      font-size: 12px;
      background: $red;
    }
    &--number {
      .number {
        display: block;
        width: 100%;
        margin: 8px 0 0;
        height: 48px;
        padding: 10px 16px 8px;
        border-radius: 4px;
        border: 1px solid #ccc;
        background: #fff;
        line-height: 1.5;
        font-size: 16px;
        &:focus {
          @include input-focus;
        }
      }
      &--cards {
        display: flex;
        margin-top: 8px;
        li {
          margin-left: 8px;
        }
      }
    }
    &--expired {
      &--month,&--year {
        display: flex;
        margin-top: 8px;
        align-items: center;
        span {
          background: none;
          color: black;
          font-size: 16px;
        }
        &__select-box {
          position: relative;
          z-index: 2;
          height: 48px;
          width: 100px;
          border-radius: 4px;
          border: 1px solid #ccc;
          background: 0;
          font-size: 16px;
          line-height: 48px;
          cursor: pointer;
          .select--item {
            -webkit-appearance: none;/* ベンダープレフィックス(Google Chrome、Safari用) */
            -moz-appearance: none;	/* ベンダープレフィックス(Firefox用) */
            appearance: none;	/* 標準のスタイルを無効にする */ 
            border: none;
            outline: none;
            width: 100%;
            background: transparent;
            display: inline-block;
            cursor: pointer;
            z-index: 10;
            padding-left: 16px;
          }
          .fa {
            position: absolute;
            top: 35%;
            right: 10%;
          }
        }
      }
    }
    &--security {
      .security {
        -webkit-appearance: none;/* ベンダープレフィックス(Google Chrome、Safari用) */
        -moz-appearance: none;	/* ベンダープレフィックス(Firefox用) */
        appearance: none;	/* 標準のスタイルを無効にする */ 
        display: block;
        width: 100%;
        margin: 8px 0 0;
        height: 48px;
        padding: 10px 16px 8px;
        border-radius: 4px;
        border: 1px solid #ccc;
        line-height: 48px;
        font-size: 16px;
        &:focus {
          @include input-focus;
        }
      }
    }
    &--help {
      margin-top: 8px;
      text-align: right;
      color: $light-blue;
      cursor: pointer;
    }
    &--btn {
      .btn-red {
        @include btn-default;
        background: $red;
        color: $white;
      }
    }
  }
}