-# No.3-header
%header.signup-header
  .signup-header__containar
    %h1
      = link_to image_tag ("logo.svg")
                
    %nav.signup-bar
      %ol
        %li.li--after
          会員情報
          .border-radius--after
          .progress-status--after
        %li.li--after
          電話番号認証
          .border-radius--after
          .progress-status--after
        %li.li--after
          お届け先住所入力
          .border-radius--after
          .progress-status
        %li
          完了
          .border-radius