.header
  .header-box
    .header-box__top
      .header-box__top__logo
        =link_to root_path do
          =image_tag 'logo.svg', alt: 'mercari', size: '134x36'
      .form
        %input.input-box__text{name: "keyword", placeholder: "何かお探しですか？", type: "search"}
        = button_tag type: 'submit', class: 'icon-search' do
          =fa_icon 'search'
    .header-box__bottom
      %ul.header-box__bottom__left
        %li.header-box__bottom__left__menu.header-box__bottom__left__menu--category
          =link_to "" ,class: 'header-box__bottom__left__menu__link' do
            =fa_icon 'list', class: "header-box__bottom__left__menu__link__icon"
            %span カテゴリーから探す
        .header-box__bottom__left__menu.header-box__bottom__left__menu--bland
          =link_to "", class: 'header-box__bottom__left__menu__link' do
            =fa_icon 'tag', class: "header-box__bottom__left__menu__link__icon"
            %span ブランドから探す
      - if user_signed_in?
        %ul.header-box__bottom__right
          %li.header-box__bottom__right__menu.header-box__bottom__right__menu--like
            =link_to "", class: 'header-box__bottom__right__menu__link' do
              =fa_icon 'heart', class: "header-box__bottom__right__menu__link__icon"
              %span いいね！一覧
          %li.header-box__bottom__right__menu.header-box__bottom__right__menu--notice
            =link_to "", class: 'header-box__bottom__right__menu__link' do
              =fa_icon 'bell', class: "header-box__bottom__right__menu__link__icon"
              %span お知らせ
          %li.header-box__bottom__right__menu.header-box__bottom__right__menu--todo
            =link_to "", class: 'header-box__bottom__right__menu__link' do
              =fa_icon 'check', class: "header-box__bottom__right__menu__link__icon"
              %span やることリスト
          %li.header-box__bottom__right__menu.header-box__bottom__right__menu--mypage
            =link_to users_path, class: 'header-box__bottom__right__menu__link' do
              =fa_icon 'user-circle', class: "header-box__bottom__right__menu__link__icon"
              %span マイページ
      - else
        .header-box__bottom__right
          .header-box__bottom__right__btn.header-box__bottom__right__btn--signup
            =link_to '新規会員登録', registration_users_path, class: 'header-box__bottom__right__btn__link header-box__bottom__right__btn__link--signup'
          .header-box__bottom__right__btn.header-box__bottom__right__btn--login
            =link_to 'ログイン', new_user_session_path, class: 'header-box__bottom__right__btn__link header-box__bottom__right__btn__link--login'