.main-image{
  width: 100%;
  background: #E9E8E4 url(../../../images/top_visual_back_pattern.jpg) repeat;
  text-align: center;
  img{
    width: auto;
    vertical-align: middle;
    max-width: 680px;
    padding-top: 28px;
  }
}
