.main-image{
  width: 100%;
  background: #E9E8E4 url(../../../images/top_visual_back_pattern.jpg) repeat;
  text-align: center;
  img{
    width: auto;
    vertical-align: middle;
    max-width: 680px;
    padding-top: 28px;
  }
}
.popular-menu{
  padding: 56px 0px 30px;
  background-color:$white;
  font-family: Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
  h2{
    margin-bottom: 16px;
    text-align: center;
    font-size: 28px;
    font-weight: 600;
  }
  .popular-menu__links{
    display: block;
    width: 100%;
    &__list{
      display: block;
      text-align: center;
      width: 100%;
      margin: -10px 0px 0px -10px;
      &__link{
        display: inline-block;
        margin: 10px 0px 0px 10px;
        &_btn{
          background-color: rgb(239, 239, 239);
          cursor: pointer;
          font-size: 14px;
          font-weight: 600;
          border-radius: 18px;
          padding: 8px 16px;
          text-decoration: none;
          color: inherit;
        }
      }
    }
  }
}