.content__box{
  display: flex;
  flex-wrap: wrap;
  .item{
    display: inline-block;
    background-color: $white;
    margin: 0 0 0 20px;
    width: 213px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
    &:hover{
      outline: 1px solid rgb(0, 153, 255);
      outline-offset: 0px;
      }
    a{
      color: #333;
    }
    &__image{
      width: 100%;
    }
    .thumbnail-image{
      width: 180px;
      height: 200px;
      &--edit{
        width: 60px;
        height: 60px;  
      }
    }
    &__text{
      padding: 10px;
      font-size: 16px;
      background-color: $white;
      &__name{
        overflow: hidden;
        position: relative;
        font-weight: 400;
        height: 3em;
        line-height: 1.5;
        word-break: break-word;
        white-space: normal;
      }
      &__num{
        display: flex;
        &--price{
          font-weight: bold;
          list-style: none;
          width: 82%;
        }
        &--font{
          display: flex;
          i{
            color: gray;
          }
        }
      }
    }
  }
}