%section.item-detail__items-in-user-profile__items-box-container__content__items-box
  =link_to item_path(item), class: "item-detail__items-in-user-profile__items-box-container__content__items-box__link" do
    %figure.item-detail__items-in-user-profile__items-box-container__content__items-box__link__photo
      = image_tag item.images[0].image.url, alt: 'main-photo', height: '220px', width: '220px'
      %figcaption.item-detail__items-in-user-profile__items-box-container__content__items-box__link__photo__sold-out-badge
        .item-detail__items-in-user-profile__items-box-container__content__items-box__link__photo__sold-out-badge__caption SOLD
    .item-detail__items-in-user-profile__items-box-container__content__items-box__link__body
      %h3.item-detail__items-in-user-profile__items-box-container__content__items-box__link__body__name
        = item.name
      .item-detail__items-in-user-profile__items-box-container__content__items-box__link__body__nums
        .item-detail__items-in-user-profile__items-box-container__content__items-box__link__body__nums__price
          ¥
          = item.price.to_s(:delimited)
        .item-detail__items-in-user-profile__items-box-container__content__items-box__link__body__nums__like
          =fa_icon 'heart-o'
          %span 10
